@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&display=swap');

:root{
    --font-titolo: 'Arvo', serif;
    --font-testi: 'Rubik', sans-serif;
    --principale: #393E46;
    --secondario: #929AAB;
    --terziario: #EEEEEE;
    --quarto: #F7F7F7;
    --box: #DDD;
}

html{
    scroll-behavior: smooth;
}

body{
    border: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--quarto);
    color: var(--principale);
    overflow-x: hidden;
    transition-duration: 0.2s;
}

a{
    text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
    color: var(--principale);
    transition-duration: 0.2s;
}

.size{
    border: 0px solid red;
}

.front-page{
    /*border: 5px solid red;*/
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

.nav-bar{
    /*border: 5px solid purple;*/
    width: 100%;
    height: 6vh;
    background-color: var(--secondario);
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.nav-logo{
    width: 48%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6vh;
}

.logo{
    height: 5vh;
}

.nav-options{
    width: 48%;
    height: 6vh;
    margin-right: 2%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.nav-options p{
    margin: auto;
    text-align: right;
    text-decoration: underline;
    text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
    transition-duration: 0.2s;
    cursor: pointer;
    font-size: 1.2vW;
    font-weight: 700;
    font-family: var(--font-testi);
}

.nav-options p:hover{
    text-decoration-color: var(--principale);
    -moz-text-decoration-color: var(--principale);
}

.titolo-front-page{
    color: var(--principale);
    font-family: var(--font-titolo);
    font-size: 10vw;
    align-self: center;
}

.titolo-front-page d{
    text-decoration: underline;
    text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
    transition-duration: 0.2s;
    cursor: pointer;
}
.titolo-front-page d:hover{
    text-decoration-color: var(--principale);
    -moz-text-decoration-color: var(--principale);
}

.scendi{
    color: var(--principale);
    font-family: var(--font-titolo);
    font-size: 5vw;
    justify-self: flex-end;
    margin-bottom: 2%;
    cursor: pointer;
    transition-duration: 0.2s;
    text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
}
.scendi:hover{
    color: var(--secondario);
}

.Stack{
    width: 98%;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.stack_title{
    font-family: var(--font-titolo);
    font-size: 8vw;
}

.stack_content{
    display: grid;
    grid-template-rows: repeat(1fr,4);
    
}

.stack_capitolo{
    width: 96%;
    height: fit-content;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: var(--box);
    padding: 1% 2% 2% 2%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.stack_capitolo_titolo{
    font-family: var(--font-titolo);
    font-size: 4vW;
}

.stack_capitolo_content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.stack_capitolo_contenitore_testo{
    display: flex;
    width: 98%;
    margin: auto;
    flex-direction: row;
    align-items: center;
}

.stack_capitolo_testo{
    font-family: var(--font-testi);
    height: fit-content;
    font-weight: 700;
    font-size: min(1.5vw) max(5vw);
    text-align: justify;
}

.stack_capitolo_contenitore_immagine{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.stack_capitolo_immagine{
    max-width: 70%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}