@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

:root{
    --font-titolo: 'Arvo', serif;
    --principale: #393E46;
    --secondario: #929AAB;
    --terziario: #EEEEEE;
    --quarto: #F7F7F7;
}

body{
    border: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

.front-page{
    /*border: 5px solid red;*/
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-bar{
    /*border: 5px solid purple;*/
    width: 100%;
    height: 6vh;
    background-color: var(--secondario);
}

.titolo-front-page{
    font-family: var(--font-titolo);
    font-size: 900%;
    align-self: center;
    margin-left: 5%;
}